


*{padding: 0px; margin: 0px;}

body
{
    background-color: blueviolet;
}
.info
{
    font-size: 40pt;
    width: 60%;
    margin: 200px 250px;
    padding: 40px;
    display: block;
    text-align: center;
}
a{
    background-color: silver;
    clear: both;
    color: black;
    text-decoration: none;
    border: 1px solid black;
}