


*
{
    margin: 0; 
    padding: 0;
}
body{
    background-image: url("../img/Fairy_1.jpg");
    background-repeat: no-repeat;
    font-family: 'Times New Roman', Times, serif;
}

.header
{
    margin-top: 1px;
}
.logo img
{
    margin: 2px 1px;
    width: 340px;
    height: 76px;
    float: right;
}
.menu
{
    width: 100%;
    height: 80px;
    background-color: #222;
    font-family: Arial, Helvetica, sans-serif;
}
.menu ul
{
    list-style: none;
    position: relative;
}
.menu ul li
{
    width: 230px;
    float: left;
}
.menu a
{
    font-size: 15pt;
    padding: 28px;
    display: block;
    text-decoration: none;
    text-align: center;
    background-color: #222;
    color: #fff;
}
.menu ul ul
{
    position: absolute;
    visibility: hidden;
}
.menu ul li:hover ul
{
    visibility: visible;
}
.menu a:hover
{
    background-color: #f4f4f4;
    color: #555;
}
.menu ul ul li
{
    float: none;
    border-bottom: solid 1px #ccc;
}
.menu ul ul li a
{
    background-color: #069;
}
label[for="bt_menu"]
{
    padding: 15px;
    background-color: #222;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
    width: 50px;
    height: 50px;
}
#bt_menu{
    display: none;
}
label[for="bt_menu"]{
    display: none;
}
@media(max-width: 800px)
{
    label[for="bt_menu"]{
        display: block;
    }
    #bt_menu:checked ~ .menu{
        margin-left: 0;
    }
    .menu{
        margin-top: 0px;
        margin-left: -100%;
        transition: all .4s;
    }
    .menu ul li{
        width: 100%;
        float: none;
    }
    .menu ul ul{
        position: static;
        overflow: hidden;
        max-height: 0;
        transition: all .4s;
    }
    .menu ul li:hover ul{
        height: auto;
        max-height: 200px;
    }
    .logo img
    {
        visibility: hidden;
    }
}